@charset "UTF-8";
/*Переменные*/
/*модули*/
body, html {
  height: 100%;
}
body .wrapper, html .wrapper {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
}

.section {
  height: 100%;
  width: 100%;
  background-color: #86c3d7;
  background-image: url("");
  /*Прописать батончики можно здесь*/
}

.container {
  display: flex;
  overflow: hidden;
  max-width: 960px;
  min-width: 300px;
  height: 100%;
  margin: auto;
  flex-direction: column;
}

/* Оформление header*/
.header {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  padding: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  color: white;
  text-decoration: none;
}

.nav__item {
  color: white;
  padding: 15px;
  /*width: 60px;*/
  list-style: none;
}

.header__logo-img {
  height: 39px;
  width: 53px;
}

a.header__logo {
  margin-right: auto;
}

.section.about {
  background: white;
}

.about__list {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
}

.about__item {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #802a58;
}

.about__icon {
  width: 40px;
  height: 40px;
  background: #fa604c;
}

svg.about__svg {
  width: 100%;
  height: 100%;
}

.about__title {
  text-align: center;
  color: black;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  /*background-color: #9ea1d7;*/
}

.left-content {
  /*background-color: #6295ff;*/
  width: 550px;
  height: 100%;
}

.left-content__h1 {
  color: white;
  text-transform: uppercase;
  font-size: 40pt;
}

.left-content__h2 {
  color: white;
  font-size: 15pt;
}

.main-content__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff4fb;
  border: 2px solid white;
  border-radius: 60px;
  color: #1f7c15;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 19pt;
  padding: 14px 39px 15px 39px;
  margin-left: 0;
}

.right-content {
  /*background-color: #ff6d77;*/
  width: 470px;
  height: 100%;
  background-image: url("../img/Батончики.png");
}

@font-face {
  font-family: "Alegreya Sans", sans-serif;
  src: url("fonts/AlegreyaSans-Regular.ttf");
}
.hero__features {
  display: flex;
  font-size: 1rem;
  width: 51%;
}

.hero__features-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hero__features-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.hero__features-icon {
  width: 2.8125rem;
  margin-right: 0.5625rem;
}

.hero__features-title {
  max-width: 50%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*модули*/