.about {
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include phones {
  }
}
.about__container {
  @include phones {
    max-width: 460px;
  }
  @include phones-small {
    max-width: 90%;
  }
}

.about::after {
  content: "";
  position: absolute;
  background: url(./img/malina.png) left bottom no-repeat;
  display: block;
  z-index: 31;
  width: 33%;
  height: 53%;
  left: 0;
  top: 100%;
  transform: translateY(-50%);
  @include phones {
    display: none;
  }
}
.about__info {
  display: flex;
  flex-direction: column;
  text-align: center;
   margin-bottom: 4.5rem;
  @include phones {
    margin-bottom: 4.5rem;
  }
  @include phones-small {
    margin-bottom: 1.5rem;
  }
}
.section__title-about {
  color:$black;
  margin: 94px 10px 28px 10px;
  text-align: center;
  @include section_h1;
  @include phones {
    margin:10px 10px 10px 10px;
  }
  @include phones-small {
    font-size: 2rem;
  }
}
.section__text {
  display: block;
  width: 50%;
  margin: auto;
  @include phones {
    width: 80%;
  }
  @include phones-small {
    width: 100%;
  }
}

.about__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5%;
  @include phones {
    flex-direction: column;
    margin-bottom: 0;
  }

}
.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 30%;
  text-align: center;
  @include phones {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    text-align: left;
    margin-bottom: 5%;
  }
}

.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background:$decoration;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 2rem;
  @include phones {
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
    display: flex;
     margin-bottom: 0;
    margin-right: 1.5rem;
    }
  @include phones-small {
    width: 5rem;
    height: 5rem;
  }
}
.about__content {
@include phones{
display: flex;
flex-direction: column;
}

}

.about__pic{
width: 4.6rem;
height: 4.7rem;
  @include phones-small {
    width: 2.9rem;
    height: 2.9rem;
  }
}
.about__title {
color:$black;
font-size: 28px;
@include phones {
font-size: 2rem;
margin: 0;
margin-bottom: 0.5rem;
}
  @include phones-small {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
.about__text {
display: block;
width: 85%;
margin: auto;
@include phones {
width: initial;
margin: 0;
}
}

