/*
Error: Undefined mixin 'tablets'.
        on line 7 of B:\WEB projects\Choco\scss\blocks\hero-header.scss, in `tablets'
        from line 7 of B:\WEB projects\Choco\scss\blocks\hero-header.scss

2: /* Оформление header*\/
3: .header {
4:     display: flex;
5:     align-items: center;
6:     z-index: 20;
7:     @include tablets {
8:         justify-content: space-between;
9:         flex: 0;
10:         z-index: 20;
11:         width: 90vw;
12:         }

Backtrace:
B:\WEB projects\Choco\scss\blocks\hero-header.scss:7:in `tablets'
B:\WEB projects\Choco\scss\blocks\hero-header.scss:7
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `block in with_mixin'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:98:in `with_mixin'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
B:/Programs/coala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
B:/Programs/coala/bin/sass:22:in `load'
B:/Programs/coala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'tablets'.\A         on line 7 of B:\WEB projects\Choco\scss\blocks\hero-header.scss, in `tablets'\A         from line 7 of B:\WEB projects\Choco\scss\blocks\hero-header.scss\A \A 2: /* Оформление header*/\A 3: .header {\A 4:     display: flex;\A 5:     align-items: center;\A 6:     z-index: 20;\A 7:     @include tablets {\A 8:         justify-content: space-between;\A 9:         flex: 0;\A 10:         z-index: 20;\A 11:         width: 90vw;\A 12:         }"; }
