/*
Error: Undefined variable: "$blue".
        on line 4 of B:\WEB projects\Choco\scss\blocks\hero-content.scss

1: //Оформление основного контента 1й секции
2: 
3: .hero {
4:     background-color: $blue;
5:     background-image: url(../img/decor__hero.png);
6:     background-repeat: no-repeat;
7:     background-position: right;
8:     @include tablets {
9:         min-height: 800px;

Backtrace:
B:\WEB projects\Choco\scss\blocks\hero-content.scss:4
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
B:/Programs/coala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
B:/Programs/coala/bin/sass:22:in `load'
B:/Programs/coala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$blue\".\A         on line 4 of B:\WEB projects\Choco\scss\blocks\hero-content.scss\A \A 1: //Оформление основного контента 1й секции\A 2: \A 3: .hero {\A 4:     background-color: $blue;\A 5:     background-image: url(../img/decor__hero.png);\A 6:     background-repeat: no-repeat;\A 7:     background-position: right;\A 8:     @include tablets {\A 9:         min-height: 800px;"; }
