//Оформление основного контента 1й секции

.hero {
    background-color: $blue;
    background-image: url(../img/decor__hero.png);
    background-repeat: no-repeat;
    background-position: right;
    @include tablets {
        min-height: 800px;
        background-size: 65%;
    }
    @include phones {

    }
    @include phones-small {
        min-height: 550px;
        background-size: 62%;
    }
}
.hero__container {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.main-content {
    display: flex;
    flex: 1;
    align-items: center;
    @include tablets {
        flex-direction: column;
        justify-content: space-around;

    }
}

.left-content {
    width: 550px;
    @include tablets {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        }
    @include phones {
        margin-top: 1rem;

    }
}
.main-content__title {
    color: white;
    text-transform: uppercase;
    font-size:3rem;
    @include section_h1;//Миксин для всех заголовков
    @include tablets {
        font-size:2.6rem;
        text-align: center;
    }
    @include phones {
        margin-bottom:0.5rem;
    }
    @include phones-small {
        font-size:2rem;
    }
}
.left-content__h2 {
    color: $white;
    font-size:1.3rem;
    width: 73%;
    @include tablets {
            text-align: center;
            width: 52%;
            font-size:1.5rem;
        }
    @include phones-small {
        width: 81%;
        font-size: 1.2rem;
    }
}

.hero__bars {
    //background-image:url(../img/hero/leafs768.png);
    //background-repeat:no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 459px;
    width: 100%;
    bottom: 2%;
    top: 3%;
    z-index: 10;
    @include tablets {
        order: -1;
        width: 70%;
        position: relative;
    }
    @include phones {
        width: 86%;
    }
    @include phones-small {
        width: 72%;
    }
}

.hero__bars:before {
    position: absolute;
    display: block;
    transform: translateY(16%);
    z-index: 11;
    @include tablets {
        //background: url(../img/hero/leafs768.png);
        //content: url(../img/hero/leafs768.png);
        //
        //z-index: 51;
        content: "";
        background-image: url(../img/hero/leafs768.png);
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        transform:translateX(6%) translateY(24%);
        z-index: 11;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
    }
    @include phones {
        content: "";
        transform: translateY(24%);
        z-index: 11;
        width: 100%;
        height: 100%;
    }
    @include phones-small {
        transform: translateX(0%)translateY(20%);
        background-position: center;
        background-size: contain;
    }
}
.main-content__button {
    background: #fff;
    text-transform: uppercase;
    border-radius: 3.8125rem;
    font-size: 1.1875rem;
    color: $green;
    padding: 1.25rem 2.1875rem;
    line-height: 1;
    display: inline-block;
    border: none;
    cursor: pointer;
    transition: 0.3s background;
    @include normalfont;
    @include tablets {
    display: block;
         margin-left: 0;
        margin-right:0;
        }
    @include phones {
        font-size: 1.8875rem;
    }
    @include phones-small {
        font-size: 1.2rem;
    }
}

.hero__features {
    display: flex;
    font-size: 1rem;
    width: 51%;
    margin-bottom: 2rem;
    @include tablets {
        display: none;
        align-items: center;
        width: 80%;
        margin: auto;
        font-size: 1.1rem;
    }
}
.hero__phone {
   @include tablets {
    display: none;
}
}
.hero__features-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.hero__features-item {
    display: flex;
    color: $white;
}
.hero__features-icon {
    width: 4.28rem;
    margin-right: 1rem;
}
.hero__features-title {
    max-width: 50%;
}

