//font mixin

@mixin normalfont {
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin Aleg {
  font-family:'Alegreya Sans', sans-serif;
}

@mixin tablets {
  @media screen and (max-width:$tablets) {
    @content;
  }
}
