.map {
  width: 100%;
  height: 100%;
  display: flex;
}

.map__marker {
  fill: white;
  height: 5rem;
  width: 5rem;
}
.contacts {
  //background: url(../img/contacts/map.png) center center/cover no-repeat;
  //min-height: 743px;
  position: relative;
}
.contacts__footer {
  position: absolute;
  height: 5rem;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
}
.footer__container {
  max-width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.footer__info {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.nav__phone__footer {
  color:$black;
}
  .footer__icons {
    display: flex;
    justify-content: center;
    //flex: 1;
}
.phone__icon__footer {
  width: 15px;
  height: 15px;
  fill: $black;
}
.social__icons {
  display: flex;
}
.icon__item {
  padding-left: 0.8rem;
}
.social__icon {
  width: 15px;
  height: 15px;
  fill: $black;
}
