
.feedback {
   background: $white;
  @include tablets {
    //min-height: 95%;
  }
 }
.feedback::after{
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  left: 0;
  bottom: -9%;
  z-index: 2;
  background: url(../img/fruits__feedback.png) left bottom no-repeat;
}

.feedback__container {
  justify-content: center;
  max-width: 95%;
  flex: 1;
  position: relative;
  //min-height: 53rem;
  @include tablets {
    max-width: 95%;
  }
}

.feedback__card {
  display: flex;
  overflow: hidden;
  position: relative;
  height: rem(346px);
  background: #80808040 url(../img/feedback/feedbackcard.png) right top no-repeat;
  @include tablets {
    padding: 0;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  }
}
.feedback__card:before {
  content: "";
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -3.9375rem;
  left: 50%;
  transform: translateX(-50%);
  @include phones-small {
    width: 2.5rem;
    height: 2.5rem;
    top: -1.5375rem;
  }
}

.section__title-feedback {
  @include section_h1;
  color:$black;
  margin: 5rem 1rem 3rem 1rem;
  text-align: center;
  @include  phones-small {
    font-size: 2.7rem;
    margin: 4rem 1rem 2rem 1rem;
  }
}

.feedback__list {
  display: flex;
  //justify-content: center;
  align-items: center;
  width: 60rem;
  padding: 4rem 1rem 1rem 1rem;
  position: relative;
}

.feedback__item {
  display: flex;
  //padding-left: 1rem;
  margin-bottom: 2rem;
  flex-shrink: 0;
  width:0;
  opacity: 0;
  @include tablets {
    margin: auto;
    display: initial;
    padding: 0;
  width: inherit;
  }
}
.feedback__item.feedback__item--active {
  width: 60rem;
  opacity: 1;
  transition: opacity 1s;
}

.feedback__left {
  margin-right:25px;
  @include tablets {
    margin-right: 0;
  }
}
.feedback__photo {
  width: 260px;
  height: 270px;
  @include tablets {
    width: 148px;
    height: 132px;
    margin: auto;
  }
  @include phones-small {
    width: 128px;
    height: 112px;
  }
}

.feedback__info {
  @include tablets { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
  }
}

.feedback__title {
  padding-top: 2rem;
  @include phones-small {
    padding-top: 1rem;
  }
}
.feedback__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.feedback__text {
  width: 60%;
  color: #707070;
  font-size: 18px;
  @include tablets {
    width: 90%;
  }
  @include phones-small {
    font-size: 12px;
    width: 100%;
  }
}
.feedback__name {
  margin: 0;
}
.feedback__avatars {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.avatar__item {
  border: 0.3rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  @include tablets {
    border: 0.2rem solid transparent;
  }
}
.avatar__item.avatar__item--active {
  border-color: #106331;
}

.avatar__image {
  height: 64px;
  width: 64px;
  @include tablets {
    //height: 43px;
    //width: 43px;
  }
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
