
.feedback {
   background: $white;
  @include tablets {
    min-height: 940px;
  }
 }
.feedback::after{
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  left: 0;
  bottom: -9%;
  z-index: 20;
  background: url(../img/fruits__feedback.png) left bottom no-repeat;
}
//.feedback::before {
//  content: url(../img/decor__feedback.png);
//  position: absolute;
//  top: 5%;
//  right: 0;
//  @include phones {
//    display: none;
//  }
//
//}
.feedback__container {
  justify-content: flex-start;
  max-width: 940px;
  flex: 1;
  position: relative;
  @include tablets {
    max-width: 720px;
  }
}


.feedback__card {
  display: flex;
  flex-direction: column;
  @include tablets {
    padding: 0;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  }
}
.section__title-feedback {
  @include section_h1;
  color:$black;
  margin: 5rem 1rem 3rem 1rem;
  text-align: center;
}

.feedback__list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #80808040 url(../img/feedback/feedbackcard.png) right top no-repeat;
  padding: 4rem 1rem 1rem 1rem;
  position: relative;
}
.feedback__list:before {
  content: "";
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -3.9375rem;
  left: 50%;
  transform: translateX(-50%);
}
.feedback__item {
  display: flex;
  padding-left: 5rem;
  margin-bottom: 2rem;
  @include tablets {
    margin: auto;
    display: initial;
    padding: 0;
  width: inherit;
  }
}
.feedback__left {
  margin-right:25px;
  @include tablets {
    margin-right: 0;
  }
}
.feedback__photo {
  width: 260px;
  height: 270px;
  @include tablets {
    width: 148px;
    height: 132px;
    margin: auto;
  }
}

.feedback__info {
  @include tablets { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

}

.feedback__title {
  padding-top: 2rem;
}
.feedback__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.feedback__text {
  width: 60%;
  color: #707070;
  font-size: 18px;
  @include tablets {
    width: 90%;
  }
}
.feedback__name {
  margin: 0;
}
.feedback__avatars {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.avatar__item {
  border: 0.5rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  @include tablets {
    border: 0.2rem solid transparent;
  }
}
.avatar__image {
  height: 64px;
  width: 64px;
  @include tablets {
    //height: 43px;
    //width: 43px;
  }
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active {
  border-color: #106331;
}