
.feedback {
   background: $white;
 }
.feedback::after{
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  left: 0;
  bottom: -9%;
  z-index: 20;
  background: url(../img/fruits__feedback.png) left bottom no-repeat;
}
.feedback::before {
  content: url(../img/decor__feedback.png);
  position: absolute;
  top: 5%;
  right: 0;

}
.feedback__container {
  justify-content: center;
  max-width: 940px;
  flex: 1;
}
.feedback__card {

}
.section__title-feedback {
  text-transform: uppercase;
  font-size:40pt;
  color:$black;
  margin: 1rem 1rem 4.4375rem 1rem;
  text-align: center;
}

.feedback__list {
  display: flex;
  justify-content: center;
  align-items: center;

}
.feedback__item {
  display: flex;
  padding-left: 5rem;
  margin-bottom: 2rem;
}
.feedback__left {
  margin-right:25px;
}
.feedback__photo {
  width: 260px;
  height: 270px;

}
.feedback__photo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.feedback__text {
  width: 60%;
  color: #707070;
}

.feedback__avatars {
  display: flex;
  justify-content: center;
}
.avatar__item {
  border: 0.5rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
}
.avatar__image {
  height: 64px;
  width: 64px;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active {
  border-color: #106331;
}