
/* Оформление header*/
.header {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    z-index: 20;
}
.nav {
    display: flex;
    align-items: center;
}
.nav__list {
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav__link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav__phone {
    font-size: 20px;
    text-decoration: none;
    color: $white;
}

.phone-icon {
    width: 12px;
    height: 12px;
    margin-right: 0.3rem;
}
.nav__item {
    color: white;
    padding: 15px;
   list-style: none;
    font-size: 18px;
}
.header__logo-img {
    height:39px;
    width:53px;
}
a.header__logo {
    margin-right:1rem;
}


