
/* Оформление header*/
.header {
    display: flex;
    align-items: center;
    z-index: 20;
}

.nav__list {
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav__link {
    color: white;
    text-decoration: none;
}
.nav__item {
    color: white;
    padding: 15px;
    /*width: 60px;*/
   list-style: none;
}
.header__logo-img {
    height:39px;
    width:53px;
}
a.header__logo {
    margin-right: auto;
}


