//Оформление основного контента 1й секции
.main-content {
    display: flex;

}

.left-content {

    width: 550px;
    height: 100%;
}
.main-content__title {
    color: white;
    text-transform: uppercase;
    font-size:40pt;
    margin-top: 76px;
}
.left-content__h2 {
    color: white;
    font-size:15pt;
    width: 73%;
}



.main-content__button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff4fb;
    border: 2px solid white;
    border-radius: 60px;
    color: #1f7c15;

    @include normalfont;

    font-size: 19pt;
    padding:14px 39px 15px 39px;
    margin-left: 0;
}

