.menu {
  background: url(../img/menu/menubackground.png) center center/cover no-repeat;
  position: relative;
  background-size: cover;
  min-height: 550px;
}
//.menu__container {
//  display: flex;
//  flex-direction: row;
//  min-width: 100%;
//  /* position: relative; */
//  justify-content: flex-end;
//
//}
.menu__title {
  position: absolute;
  color: $white;
  top: 30%;
  left: 10%;
  font-size: 48px;
}
.menu__list {
  display: flex;
  //flex-direction: row;
  //justify-content: flex-end;
  //max-height: 100%;
  position: absolute;
  top: 0;
  //bottom: 0;
  right: 0;
}

.menu__item__title {
  max-width: 5rem;
  height: 100%;
  font-size: 48px;
  transform: rotate(180deg);
  writing-mode: tb-rl;
  width: 8rem;
}
.menu__item {
  display: flex;
  color: white;
  /* width: 6.25rem; */
  /* height: 100%; */
  background: #707070;
}
//.menu__link {
//  color:$white;
//  text-decoration: none;
//  position: relative;
//  height: 100%;
//  width: 3rem;
//  display: flex;
//  justify-content: center;
//}
.menu__item__content {
  //display: none;
  position: relative;
  max-width: 21rem;
  font-size: 16px;
  width: 0;
  overflow: hidden;
  background-color: #826985;
}
.menu__active .menu__item__content {
  width: initial;
}

.menu__item__text {
  max-width: 76%;
  height: 75%;
  padding-top:1rem;
}