.menu {
  background: url(../img/menu/menubackground.png) center center/cover no-repeat;
  position: relative;
  background-size: cover;
  min-height: 550px;
}
//.menu__container {
//  display: flex;
//  flex-direction: row;
//  min-width: 100%;
//  /* position: relative; */
//  justify-content: flex-end;
//
//}
.menu__title {
  position: absolute;
  color: $white;
  top: 5%;
  left: 10%;
  font-size: 48px;
  text-transform: uppercase;
}
.menu__list {
  display: flex;
  //flex-direction: row;
  //justify-content: flex-end;
  //max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.menu__link {
  padding-bottom: 2.5rem;
  color: #ffffff;
  display: block;
}
.menu__milk  .menu__link  {
  background: url(../img/menu/milk.png)  no-repeat;
}
.menu__honey  .menu__link  {
  background: url(../img/menu/honey.png) center center/cover no-repeat;
 }
.menu__berries  .menu__link  {
  background: url(../img/menu/berries.png) center center/cover no-repeat;
}
.menu__item__title__text {
  //max-width: 5rem;
  //height: 100%;
  //font-size: 48px;
  //transform: rotate(180deg);
  //writing-mode: tb-rl;
  //width: 8rem;
  display: flex;
  align-items: center;
  width: 6.25rem;
  height: 100%;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  writing-mode: vertical-lr;
  transform: rotate(180deg)
}
.menu__item {
  display: flex;
  color: white;
  /* width: 6.25rem; */
  /* height: 100%; */

}


.menu__active .menu__item__content {
  width: 50vw;
}
 .menu__item__content {
  position: relative;
  max-width: 21rem;
  width: 0;
  overflow: hidden;
   transition: width 1s;
  background-color: rgba(38, 33, 43, 0.79);
}

.menu__item__text {
  max-width: 89%;
  height: 75%;
  padding:1rem;
}