.menu {
  background: url(../img/menu/menubackground.png) center center/cover no-repeat;
  position: relative;
  background-size: cover;
  min-height: 550px;
}

.menu__title {
  position: absolute;
  color: $white;
  top: 5%;
  left: 10%;
  @include section_h1;
}
.menu__list {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
.menu__link {
  padding-bottom: 2.5rem;
  color: #ffffff;
  display: block;
}
.menu__milk .menu__link  {
  background: url(../img/menu/milk.png) center center/cover no-repeat;
}
.menu__honey  .menu__link  {
  background: url(../img/menu/honey.png) center center/cover no-repeat;
 }
.menu__berries  .menu__link  {
  background: url(../img/menu/berries.png) center center/cover no-repeat;
}
.menu__item__title__text {
  display: flex;
  align-items: center;
  width: 6.25rem;
  height: 100%;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  writing-mode: vertical-lr;
  transform: rotate(180deg)
}
.menu__item {
  display: flex;
  color: white;

}


.menu__item.menu__active .menu__item__content {
  width: 50vw;
  opacity: 0.9;
}
 .menu__item__content {
  position: relative;
  max-width: 32rem;
  width: 0;
  overflow: hidden;
   opacity: 0;
   transition: width 0.9s;
   transition-delay: 0.2s;
   transition-property: opacity;
   background-color: rgba(38, 33, 43, 0.79);
}

.menu__item__text {
  max-width: 89%;
  height: 80%;
  padding:1rem;
}
.menu__item__close {

}
.close__icon {
  z-index: 5;
  top: 2%;
  right: 5%;
  position: absolute;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  fill: #fffff9;
}