/*
Error: Undefined variable: "$white".
        on line 10 of B:\WEB projects\Choco\scss\blocks\menu.scss

5:   min-height: 550px;
6: }
7: 
8: .menu__title {
9:   position: absolute;
10:   color: $white;
11:   top: 5%;
12:   left: 10%;
13:   @include section_h1;
14: }
15: .menu__list {

Backtrace:
B:\WEB projects\Choco\scss\blocks\menu.scss:10
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
B:/Programs/coala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
B:/Programs/coala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
B:/Programs/coala/bin/sass:22:in `load'
B:/Programs/coala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$white\".\A         on line 10 of B:\WEB projects\Choco\scss\blocks\menu.scss\A \A 5:   min-height: 550px;\A 6: }\A 7: \A 8: .menu__title {\A 9:   position: absolute;\A 10:   color: $white;\A 11:   top: 5%;\A 12:   left: 10%;\A 13:   @include section_h1;\A 14: }\A 15: .menu__list {"; }
