.order {
  background: url(../img/order/orderbackground.png) center center/cover no-repeat;
@include tablets {
  min-height: 970px;
  }
  @include phones {
    min-height: 0;
  }
}

.container.container__order {
  @include  tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 95%;
  }
  @include phones {
    max-width:90%;
  }
}
//Стилизация заголовка
.container__title__green {
   @include section_h1;//Миксин для всех заголовков
    color: #365a49;
    margin: 1rem 1rem 4.4375rem 1rem;
    text-align: center;
  @include tablets {
    text-align: center;
  }
  @include phones-small {
    margin: 1rem 1rem 1.4375rem 1rem;
    font-size:2rem;
  }
}
//Стилизация заголовка

//Стилизация формы
.order__form {
  display: flex;
  justify-content: space-between;
  @include  tablets {

    flex-direction: column;
    max-width: 34rem;

    justify-content: center;
    margin: 0 auto;
  }
}

.order__col {
  flex:1;
  margin-left:1.5rem;
  @include tablets {
    margin-left:0;
  }
}
.order__col:first-child {
  margin-left: 0;
}

.order__row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8rem;
  @include phones-small {
    margin-top: 1rem;
  }
}

.order__label {
  margin-left: 1.5rem;
  flex: 1;
  position: relative
}

.order__label:first-child {
  margin: 0;
}

.order__label.button__decor {
  display: flex;
}

.order__label__title {
  font-size: 18px;
}

.order__label__title.order__button-text {
  margin-left: 0.5rem;
}

.order__label__input  {
  width: 100%;
  padding: 0.725rem;
  font-family: "Open Sans", sans-serif;
  border: none;
  @include tablets {
    font-size: 0.875rem;
    padding: 0.3125rem 0.6875rem;
  }
}

.order__textarea {
  width: 100%;
  padding: 0.725rem;
  height: 11.25rem ;
  resize: none;
  border: none;
  @include tablets {
    height: 5.625rem;
  }
}

.order__buttons {
  display: flex;
}

.order__button {
  text-decoration: none;
  padding: 1.125rem 2.125rem 0.875rem 2.125rem;
  margin-right:1rem;
  border: none;
  border-radius: 19%/50%;
  font-size: 1.1875rem;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #365a49;
  color: white;
  cursor: pointer;
}

.order__button-clear {
  border: none;
  background: none;
  color: #365a49;
  cursor: pointer;
}

.order__radio__button {
  position: relative;
  display: none;
}

.order__radio__decor {
  height: 20PX;
  width: 20px;
  background: white;
  border: 1px solid  ;
  border-radius: 50%;
  position: relative;
}

.order__radio__decor:after {
  content: "";
  height: 0;
  width: 0;
  background: #365a49;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.order__radio__button:checked +.order__radio__decor {
  border-color: $green;
}

.order__radio__button:checked +.order__radio__decor:after {
  height: 10px;
  width: 10px;
}
.order__label__checkbox {
  display: none;
}
.order__checkbox__decor {
  position: relative;
  top: 0;
  left: 0;
  height: 1.625rem;
  width: 1.625rem;
  background: #fff;
  content: "";
}
.order__checkbox__decor:after {
  position: absolute;
  top: 0.4375rem;
  left: 0.4375rem;
  content: "";
  height: 0.8125rem;
  width: 0.8125rem;

}
.order__label__checkbox:checked +.order__checkbox__decor:after {
  left: 0.5625rem;
  top: 0.2125rem;
  width: 0.5125rem;
  height: 0.825rem;
  border-radius: 0;
  background-color: transparent;
  border: solid #365a49;
  border-width: 0 0.1875rem 0.1875rem 0;
  transform: rotate(45deg)
}

//.order__label .button__decor {
//  position: relative;
//  display: flex;
//  margin-right: 1.5625rem;
//  align-items: center;
//  /* position: relative; */
//  padding-left: 1.875rem;
//}

.modal {
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .9;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal--active {
  display: flex;
}

.modal__card {
  width: 20rem;
  height: 10rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  opacity: 1;
  overflow: hidden;
}

.modal__message {
  margin-bottom: 1rem;
}