.slider {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__list {
  display: flex;
  align-items: center;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__left__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.slider__right__content {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.hover__item {
  width: 5.425rem;
  height: 5.425rem;
  border-radius: 5px;
  color: #fff;
  background-color: #86c3d7;
  padding: 0.6875rem 1.25rem;

}

.chocolate__block {
  display: none;
  width: 16.875rem;
  position: absolute;
  top: 0;
  left: 5.425rem;
  background-color: #fff;
  /* opacity: 0.95; */
  padding: 1.5625rem 1.25rem 1.5625rem 1.8625rem;
  /* border: 0.0625rem solid #eee; */
  border-radius: 5px;
}
.slider__icon {
  width: 3.1875rem;
  height: 3.1875rem;
  fill: #fff;
  margin-bottom: 0.1875rem;
}

.hover__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}
.slider__title {
  font-size: 46px;
  text-transform: uppercase;
  margin-bottom: 0.9rem;
}

.slider__info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

p.slider__text {
  width: 73%;
}

.slider__features {
  display: flex;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.slider__calories {margin-right: 3rem;}

.slider__weight {
  display: flex;
  flex-direction: column;
}

.slider__order {
  display: flex;
  /* flex-direction: row; */
}

.slider__price {
  display: flex;
  align-items: center;
}

.slider__price__value {
  font-size: 4rem;
  margin-right: 4.5rem;
}

.green__button {
  border: green;
  background: #186c39;
  color: white;
  padding: 1.25rem 2.1875rem;
}