.team {
  background: $white;
  @include tablets {
    min-height: 850px;
    width: 100%;
  }
  @include phones-small {
    min-height: 0;
  }
}
.team__title {
  text-align: center;
  @include section_h1;
  @include phones-small {
    font-size: 2.1rem;
  }
}
.team__accordeon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include phones-small {

  }
}
.team__list {
  display: flex;
  justify-content: space-between;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
  @include phones-small {

  }
}
.team__item  {
  flex-direction: column;
  display: flex;
  align-items: center;
  max-width: 25%;
  text-align: center;
  @include tablets {
    max-width: 14rem;
  }
  @include phones {
  max-width: 15rem;
}
  @include phones-small {
    max-width: 12rem;
  }
}
.team__picture {
  height: 18.125rem;
  width: 100%;
  @include tablets {
    display: none;
  }
  @include phones-small {

  }
}
.active__member .team__picture {
  @include tablets {
    display: flex;
  }
  @include phones {
    max-width: 13rem;
    max-height: 15rem;
  }
  @include phones-small {
    max-width: 9.1rem;
    max-height: 9.1rem;
  }
}
.team__content {


}
.team-pic {
  object-fit: cover;
  height:100%;
  width: 100%;
}
.team__name {
  cursor: pointer;
  position: relative;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0.5rem;
  @include tablets {
    font-size: 18px;
    order: -1;
  }
  @include phones-small {
    font-size: 16px;
  }
}

.member__hidden {
  display: none;
}
.active__member .member__hidden {
  display: flex;
  flex-direction: column;
}

.title__proffesion {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  @include phones-small {

  }
}
.member__describe {
  color: #707070;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;

}
.team__name::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right-width: 4.5px;
  border-left-width: 4.5px;
  border-top-color: $green;
  border-bottom-width: 0;/* Добавляем треугольник */
}
.active__member .team__name::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(180deg);
  margin-left: 4px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right-width: 4.5px;
  border-left-width: 4.5px;
  border-top-color: $green;
  border-bottom-width: 0;/* Добавляем треугольник */
}